.center-me{
    margin: 0 auto;
    width: 400px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}
.main-body{
    background-color: grey;
    padding-top: 10px;
}
.centerheader{
    text-align: center;
}
.top-header-text{
    background-color: white;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}
.header-text{
    background-color: white;
    display: flex;
    padding-left: 10px;
    padding-right: 10px; 
}
.pictext{
    background-color: white;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}
img{
    width: 100%;
}
.fonts{
    width: 100%;
    font-weight: bold;
}